<h1>Rideshare Passengers</h1>

<% @passengers.each do |passenger| %>

  <ul >
    <li> <img src="https://via.placeholder.com/50x50"  /> <%= link_to passenger.name, show_passenger_path(passenger[:id]) %>  <%= link_to "Edit", edit_passenger_path(passenger[:id]) %>  <%= link_to "Delete", delete_passenger_path(passenger[:id]), method: :delete %></li>
  </ul>

<% end %>
