<h1>Rideshare Drivers</h1>

<% @drivers.each do |driver| %>

  <ul >
    <li> <img src="https://via.placeholder.com/50x50"  /> <%= link_to driver.name, show_driver_path(driver[:id]) %>  <%= link_to "Edit", edit_driver_path(driver[:id]) %>  <%= link_to "Delete", delete_driver_path(driver[:id]), method: :delete %></li>
  </ul>

<% end %>
