<h1>Rideshare Drivers</h1>

<% @drivers.each do |driver| %>

  <ul >
    <li>

        <%= image_tag(driver.img, :alt => "driver image") %> <%= link_to driver.name, driver_path(driver[:id]) %>  <%= link_to "Edit", edit_driver_path(driver[:id]) %>  <%= link_to "Delete", driver_path(driver[:id]), method: :delete %></li>
  </ul>

<% end %>
