
div {
  margin: 10px;
  padding: 5px;
  display: grid;
  grid-template-rows: repeat(5, 100px);
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-template-areas:
  "Name"
  "Info"
  "Status"
  "Table-Header"
  "Table-Content"
}


div h1 {
  grid-area: Name;
  font-size: 3em;
  text-align: center;
}

.info {
  grid-area: Info;
  font-weight: bold;
  text-align: center;
}
.status {
  grid-area: Status;
  text-align: center;
}

.table-header {
  grid-area: Table-Header;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}


.table-content ul li{
  grid-area: Table-Content;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  /* align-items: center; */
}
