div {
  margin: 10px;
  padding: 5px;
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-template-areas:
  "Name"
  "Info"
  "Status"
}


div h2 {
  grid-area: Name;
  font-size: 3em;
  text-align: center;
}

.info {
  grid-area: Info;
  font-weight: bold;
  text-align: center;
}
.action {
  grid-area: Status;
  text-align: center;
}

table {
    border: 1px solid #efaac4;
    padding: 10px;
}

thead {
  background: #efaac4;
}

td {
  padding-top: 30px;
  text-align: center;
}

a {
  color: black;
}

a:hover {
  color: #efaac4;
}
